
*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100%;
    background-color: #393e46;
}

nav{
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
}

.navbar{
    background-color: #eeeeee;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-logo{
    margin-left: 2em;
}
.nav-logo img{
    width: 200px;
}

nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    
}

nav ul :hover{
    background-color:#ffd369;
}

nav ul li{
    margin: 0 2em;
    margin-bottom: 30px;
    
}

.dropdown{
    color:#393e46;
}
.dropdown:hover{
    cursor:pointer;
}
.dropdown:hover .sub-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    
}
.sub-category {
    display: none;
    position: absolute;
    min-width: 160px;
}

.sub-category li{
    margin-top: 20px;
}

.sub-category li a{
    color: #eeeeee;
}

nav ul li a{
    text-decoration: none;
    color:#393e46;
}

section{

    background-color:#393e46;
    padding: 3em;
}

.banner{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    height: 400px;
    width: 790px;
    overflow: hidden;
}

.slider-img{
    display: flex;
    flex-direction: row;
    position: relative;
    /* margin-left: -500px; */
}

.slider-img img{
    height: 400px;
    width: 790px;
}

.arrow{
    margin: 0 1em 0 1em;
    cursor: pointer;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    color:  #ffd369;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.women-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #ffd369;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2em;
}

.card-product{
    display: inline-block;
    height: 300px;
    width: 200px;
    padding: 20px;
    background-color:#eeeeee;
    border-radius: 20px;
    margin: 0em 5em 2em 2em;
}


.card-product img{
    height: 250px; /*fadel*/
    width: 200px;
    transition: transform .2s;
}

.card-product img:hover{
    height: 250px; /*fadel*/
    width: 200px;
    transform: scale(1.1);
    position: relative;
    z-index: 99;
}

footer{
    background-color: #ffd369;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li{
    margin:0.5em 0.5em;
    margin-left: 3em;
    text-decoration: none;
    list-style-type: none;
}


.register-form
{
    display: block;
    padding-top: 10px;
}

.agreement-spacing
{
    display: block;
    padding-top: 2cm;
}

.register-box
{
    width: 500px;
    height: 500px;
    background-color: #ffd369;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    transition: 0.8s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.register-box:hover
{
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.middle-box
{
    height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.center-button
{
    padding-top: 15px;
    justify-content: center;
    display: flex;
}

.button-Regist
{
    border-radius: 10px;
    padding: 3px;
    border-style: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.about-box
{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro
{
    height: 300px;
    width: 100%;
    display: inline-flex;
    margin-top: 200px;
    justify-content: center;
}

.left-intro
{
    height: 300px;
    width: 300px;   
    display: flex;
    background-image: url('../../asset/160583526210d98b407a51001f94b46b7a8f7e039d_thumbnail_600x.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 100px; 
    transition: 0.8s;
}

.space-between
{
    width: 150px;
}

.right-intro
{
    height: 300px;
    width: 900px;
    display: flex;
    transform: scale(1.08,1.08);
    transition: 1.2s;
}

.content-about
{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    align-items: center;
    display: inline-flex;
    text-align: justify;
}

.contact
{
    height: 400px;
    width: 100%;
    display: inline-flex;
    margin-top: 200px;
    justify-content: center;
    /* background-color: #eeeeee; */
    background-image: url('../../asset/Call-Center.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

}

.button-customer
{
    background-color: #ffd369;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:cursive;
    text-decoration: none;
    user-select: none;
    color: black;
    transition: 0.8s;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.button-customer:hover
{
    height: 80px;
    width: 150px;
}

.middle-button-customer
{
    height: 400px;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.customer-contact
{
    height: 400px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-content
{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: justify;
}

.support
{
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: #222831;
}

.supp
{
    width: 200px;
    height: 400px;
    justify-content: center;
    display: flex;
}

.supp
{
    width: 400px;
    height: 400px;
    display: flex;
}

.supp1-text
{
    margin-top: 100px;
    text-decoration: none;
    user-select: none;
    color: #eeeeee;
}

.supp2-text
{
    margin-top: 100px;
    text-decoration: none;
    user-select: none;
    color: #eeeeee;
}

.supp3-text
{
    margin-top: 100px;
    text-decoration: none;
    user-select: none;
    color: #eeeeee;
}

.supp4-content
{
    margin-top: 100px;
    margin-left: 50px;
    text-decoration: none;
    user-select: none;
    color: #eeeeee;
}

.supp4-content img
{
    width: 50px;
}

@media only screen and (max-width: 800px) {
    .nav-logo{
        margin-left: 1em;
    }

    .nav-logo img{
        width: 120px;
    }

    nav ul li{
        margin: 20px 5em 20px 0em;
    }
    nav ul li a{
        margin: 0 2em;
        margin-bottom: 30px;
        font-size: 10px;
    }

    .dropdown h2{        
        font-size: 14px;
    }

    .dropdown:hover .sub-category {
        width: 100px;
        
    }

    .sub-category {
        min-width: 0px;
    }

    .sub-category li{
        margin-top: 20px;
        margin-left: 50%;
        margin-right: 50%;
        
    }

    .slider {
        width: 600px;
        height: 300px;     
    }
    
    .slider ul{
        width: 6000px;
        height: 300px;  
    }
    
    .slider ul li{
        margin-top: 50px;
    }
    
    .slider img{
        width: 600px;
        float: left;   
    }

    .product{
        padding: 1em;
    }
    .card-product{
        margin: 0em 0 2em 3.5em;
    }

    .about-box img
    {
        width: 450px;
        height: 190px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .left-intro
    {
        height: 300px;
        width: 500px;   
    }
    
    .right-intro
    {
        height: 250px;
        width: 900px;
    }

    .content-about
    {
        font-size: 15px;
    }
    .contact-content
    {
        font-size: 15px;
    }
    .button-customer
    {
        border-radius: 5px;
        height: 30px;
        width: 100px;
    }

    .contact{
    height: 400px;
    width: 700px;
    background-size: 700px;
    }

}


@media only screen and (max-width: 415px) {

    
    .nav-logo{
        margin-left: 0em;
    }

    .nav-logo img{
        width: 105px;
    }

    nav ul li{
        margin: 15px 1em 15px 0em;
    }
    nav ul li a{
        margin: 0 2em 0 2em;
        margin-bottom: 30px;
        font-size: 5px;
    }

    section{
        padding: 1em;
        width: fit-content;
    }

    .dropdown h2{        
        font-size: 8px;
    }

    .dropdown:hover .sub-category {
        width: 100px;
        
    }

    .sub-category {
        min-width: 0px;
    }

    .sub-category li{
        margin-top: 20px;
        margin-left: 50%;
        margin-right: 50%;
        
    }

    .slider{
        height: 150px;
        width: 270px;
        overflow: hidden;
    }

    .slider-img img{
        height: 150px;
        width: 270px;
    }

    .arrow{
        margin: 0 1em 0 1em;
        width: 10px;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        color:  #ffd369;
        font-size: 42px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .women-title h1{
        font-size: 30px;
    }

    .product{
        padding:0;
    }
    .card-product{
        height: auto;
        min-height: 180px;
        max-height: 180px;
        padding: 20px;
        width: 130px;
        margin: 0em 0 2em 0.5em;
    }

    .card-product img{

        height: 130px;

        width: 130px;
        transition: transform .2s;
    }

    .card-product p{
        font-size: 14px;
    }


    .card-product img:hover{
        height: 130px;
         /*fadel*/
        width: 130px;
        
    }


    .about-box
    {
        margin-top: 50px;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }


    .about-box img
    {
        width: 175px;
        height: 75px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .intro
    {
        margin-top: 30px;
        height: 75px;
    }

    .left-intro
    {
        height: 75px;
        width: 75px;   
    }
    
    .right-intro
    {
        height: 75px;
        width: 200px;
    }

    .contact-content
    {
        width: 200px;
        font-size: 7px;
    }

    .content-about
    {
        font-size: 7px;
    }
    .contact-content
    {
        font-size: 7px;
    }
    .button-customer
    {
        border-radius: 5px;
        height: 15px;
        width: 50px;
    }

    .contact
    {
        margin-top: 0;
        width: 320px;
        background-size: 350px;
    }

    .space-between
    {
        width: 40px;
    }

    .button-customer
    {
        border-radius: 5px;
        height: 10px;
        width: 25px;
        font-size: 3px;
    }

    .button-customer:hover
    {
        height: 15px;
        width: 30px;
    }

    
    .support a{
        font-size: 5px;
    }

    .support h4{
        font-size: 7px;
    }

    .supp{
        margin:0 0.5em 0 0.5em;
    }

    .supp4-content{
        margin-left:0;
    }

    .supp4-content img{
        width: 25px;
    }

    .supp4-content input[type=text]{
        width: 75px;
        height: 10px;
        overflow: hidden;
        font-size: 8px;
    }

    .supp4-content input[type=submit]{
        width: 40px;
        height: 10px;
        overflow: hidden;
        font-size: 6px;
    }

    footer ul li{
        margin:0.5em 1em;
        
    }

    .register-box
    {
        font-size: 15px;
        width: 325px;
        height: 380px;
    }

    .register-box input[type=text],[type=password]
    {
        margin: 0 0 0 0;
        height: 15px;
        width: 250px;
        overflow: hidden;
    }

    .register-box input[type=radio]
    {
        width: 13px;
        overflow: hidden;
    }

    .button-Regist
    {
        font-size: 13px;
        margin-bottom:5px;
    }

    
}
